{{- /* 自定义 SCSS 编译并注入 */ -}}
{{- $custom_scss := resources.Get "_custom.scss" }}
{{- if $custom_scss }}
  {{- $custom_css := $custom_scss | css.Sass | resources.Minify | resources.Fingerprint }}
  <link crossorigin="anonymous" href="{{ $custom_css.RelPermalink }}" integrity="{{ $custom_css.Data.Integrity }}" rel="stylesheet">
{{- end }}

{{- /* Section 列表页 Apple 样式 */ -}}
<link rel="stylesheet" href="{{ "css/apple-section.css" | relURL }}">

{{- /* 滚动 Reveal 动画 */ -}}
<script defer src="{{ "js/apple-reveal.js" | relURL }}"></script>
