{{- /* 自定义 SCSS 编译并注入 */ -}}
{{- $custom_scss := resources.Get "_custom.scss" }}
{{- if $custom_scss }}
  {{- $custom_css := $custom_scss | css.Sass | resources.Minify | resources.Fingerprint }}
  <link crossorigin="anonymous" href="{{ $custom_css.RelPermalink }}" integrity="{{ $custom_css.Data.Integrity }}" rel="stylesheet">
{{- end }}
<script src="https://cdn.jsdelivr.net/npm/chart.xkcd@1/dist/chart.xkcd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@studio-freight/lenis@1/dist/lenis.min.js"></script>
<script>
document.addEventListener("DOMContentLoaded",function(){var lenis=new Lenis({duration:0.6,easing:function(t){return 1-Math.pow(1-t,3)},smoothWheel:true});function raf(t){lenis.raf(t);requestAnimationFrame(raf)}requestAnimationFrame(raf)});
</script>
